.Screen1{
    display: flex; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
background-color: #FFFFFF;flex-direction: column;justify-content: flex-start;
align-items: flex-start;
}
.text-1-b5e879d970ed4c78af3bd50a42942df7{
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;
font-size: 18px;


color: #000000;
height: fit-content;
width: fit-content;
    
}
.layer-1-182d4faf33414e8799814e40567b7dd8{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-image: url('/assets/8.1hijack.jpeg');
height: 70vh;min-height: 70vh;
align-self: stretch;
    
}
.layer-2-2bc53f0cd63141dfb123d0edeab72c72{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

background-color: transparent;
height: 70px;min-height: 70px;
align-self: stretch;
    
}
